@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,body{
	font-size: 16px;
}
a,button{
	font-size: 16px;
	cursor: pointer;
}
a:focus, button:focus{
	outline:  none;
	box-shadow:  0px 0px 2px 2px #007CC4;
}
.main {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	font-family: Roboto;
}
main:focus{
  /*outline: 0;*/
}