.home .table {
  border-collapse: collapse;
  width: 100%;
}
.home .table th {
	background: #ccc;
}
.home .table td, .home .table th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.home .table td img {
	max-width: 125px;
	width: 100%;
}