.header {
	padding: .5rem 0;
	margin: 0;
	margin-bottom: 1rem;
	border-bottom: 1px solid #000;
}

.header nav ul{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-start;
	list-style: none;
}
.header .push {
	margin-left: auto;
}
.header nav ul li {
	margin-right: 10px;
}
.header button {
	border: 0px;
	padding: 0px;
	text-decoration: underline;
	background: none;
}


@media (min-width: 1024px) { 
	
	.header {
		margin: 1rem 0;
	}

}
